<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>Young Lives Comparator</title>

	<link rel="stylesheet" type="text/css" href="./themes/custom-theme/jquery-ui-1.8.6.custom.css"/>
	<link rel="stylesheet" type="text/css" href="./css/ylc.css"/>
</head>
<body>
	<div id="wrapper">
		<div id="header">
				<div id="header-inner">
					<h1><img src="images/logo.gif"><span>Young Lives Comparator, a data comparison tool</span></h1>
				</div>
		</div>
		<div id="nav">
			<div id="nav-inner">
				<ul><li>
						<a href="./">Reset</a>
					</li>
					<li>
						|
					</li>
					<li>
						<a class="pop_toggle" href="#">Tim Read This</a>
						<div class="pop" title="Adding Popups">		
                                <p>Just replicate the structure in this 'li' to add additional nav links which trigger popups.</p>
								<p>Other links can, of course, go elsewhere...</p>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div id="title-and-lorem">
			<h2 id="title">Available Datacubes</h2>
			<p>Pellentesque auctor dui vel nisi lacinia quis dapibus tortor pulvinar. Vivamus condimentum ultrices posuere. Phasellus ac gravida magna. Suspendisse potenti. Phasellus in ultricies dui. Vivamus dignissim mattis eleifend. Mauris leo orci, ornare sollicitudin sollicitudin vel, pellentesque sed leo.</p>
		</div>
		<div id="status">
			<h2 id="subtitle"></h2>
		</div>
		<div id="content">
		</div>
		<div id="footer">
		</div>
	</div>

<!-- Script Loads -->	
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.6/jquery-ui.min.js"></script>
<script type="text/javascript" src="./js/jquery.ba-bbq.min.js"></script>
<script type="text/javascript" src="./js/jquery.tmpl.js"></script>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript" src="./js/ylc.js"></script>
<script type="text/javascript">
	// Load the Visualization API and the piechart package.
	google.load('visualization', '1', {'packages':['corechart']});

	//Group observations by:
	var ol_group_by = 'drefArea';
	// Location of proxy
	var endpoint = './endpoint.php';
	// Max simultaneously selected observation groups
	var max_selected_groups = 8;
	
	var dsds = {};
	var selected_groups = [];
	
	$(document).ready(function() {
		enhanceUI(document);
		handle_permalinks();
	});
</script>
<!-- Templates for use by jquery.tmpl -->
<script id="comparisonsTemplate" type="text/x-jquery-tmpl"> 
	    <div  id="dsds" class="accordion">
		{{each(dsd, obj) $item.data}}
		  	<h3>
		  		<a href="#" class="dsd-toggle">
		  			{{if obj.label}}
					   ${obj.label}
					 {{else}}
					   ${obj.dsd_uri}
					 {{/if}}
			       <span class="uri">${obj.dsd_uri}</span></a>
			</h3>		
			<div class="dsd-details">
				{{if obj.comment}}
				    <p>${obj.comment}</p>
				{{/if}}
				<h4>Datasets:</h4>
	            <ul class="datasets">
	                {{each obj.datasets}}
	                    <li>
	                        ${getLabel($value, 'dataset')}
	                    </li>
	                {{/each}}
	            </ul>
				<h4>Comparable Data Elements</h4>
				<ul class="dsd-elements">
					<img src="./images/loading.gif" />
				</ul>
				{{tmpl(obj) '#loadDataButtonTemplate'}} 
			</div>
		{{/each}}
	    </div>
</script>

<script id="dsdElementsTemplate" type="text/x-jquery-tmpl">
	{{each $item.data.structure}}
		<li>
			{{if $value.label}}
				${$value.label.value}
			{{else}}
				${lastURIElement($value.variable.value)}
			{{/if}}
			&nbsp;<em>(${lastURIElement($value.type.value)})</em>
		</li>
	{{/each}}
</script>

<script id="loadDataButtonTemplate" type="text/x-jquery-tmpl">
	<a class="load" href="#" style="display:none;" value="${$item.data.dsd_uri}">Load Data</a>
</script>

<script id="comparisonViewTemplate" type="text/x-jquery-tmpl">
	<div id="visualisation" class="empty"></div>
	{{each $item.data.datasets}}
	<div class="dataset" title="${$value.dataset.value}" style="width:${calcCols($item.data.datasets.length)}px">	
		<h3>${getLabel($value, 'dataset')}</h3>
		<div class="observation_groups accordion">
			{{each(i, ob_group) groupOn(yankItems($item.data.observations, 'dataset', $value.dataset.value), ol_group_by)}}
			
				<h4 class="group_header" title="${ob_group[0][ol_group_by].value}">
					<span class="group_label">${getLabel(ob_group[0], ol_group_by)}</span>&nbsp;
					${ob_group.length} observations
					{{tmpl({'observations':ob_group}) '#selectObservationGroupButtonTemplate'}}
				</h4>
				<ul class="group_body">
					{{each(ob_counter, ob) ob_group}}
						<li>
							{{each(prop, val) ob}}
								<strong>${prop}</strong>:<em>${lastURIElement(val.value)}</em><br/>
							{{/each}}
						</li>
					{{/each}}
				</ul>
			
			{{/each}}
		</div>
	</div>
	{{/each}}
</script>

<script id="selectObservationGroupButtonTemplate" type="text/x-jquery-tmpl">
	<button class="group_select" value="" title="Add to comparison">add</button>
</script>

</body>
</html>